/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  font-family: 'Noto Serif JP', 'Noto Serif';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  font-size: 62.5%;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 60rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1124px) {
  .l-header {
    height: 75.2rem;
  }
}

.l-header__bar {
  width: 100%;
  height: 3.6rem;
  position: fixed;
  top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
}

@media (min-width: 1124px) {
  .l-header__bar {
    top: 2rem;
    padding: 0 12rem;
  }
}

.l-header__bar.is-scrolled {
  height: 5rem;
  top: 0;
  background-color: #282F35;
  z-index: 5;
}

@media (min-width: 1124px) {
  .l-header__bar.is-scrolled {
    height: 9.6rem;
  }
}

.l-header__left h1 {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  letter-spacing: .2rem;
}

.l-header__text {
  width: 100%;
  text-align: center;
}

@media (min-width: 1124px) {
  .l-header__text {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    position: absolute;
    top: 40.9rem;
  }
}

.l-header__text h2 {
  font-size: 3.7rem;
  color: #fff;
  padding-bottom: 6rem;
  letter-spacing: .1rem;
  font-weight: 600;
}

@media (min-width: 1124px) {
  .l-header__text h2 {
    font-size: 7rem;
    padding-bottom: 3rem;
  }
}

.l-header__text p {
  font-size: 3rem;
  color: #fff;
  line-height: 1.6;
  font-weight: 500;
}

@media (min-width: 1124px) {
  .l-header__text p {
    font-size: 4rem;
  }
}

@media (min-width: 1124px) {
  .l-header__text p > br {
    display: none;
  }
}

.l-header__text--contact {
  width: 100%;
  padding-top: 10.9rem;
}

.l-header__text--contact h2 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  letter-spacing: .2rem;
}

@media (min-width: 1124px) {
  .l-header__text--contact h2 {
    font-size: 6rem;
  }
}

.l-header__text--contact span {
  text-align: left;
}

.l-header--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36rem;
  background-image: url(/img/contact-page-bgi@2x.jpg);
  background-position: center;
}

@media (min-width: 1124px) {
  .l-header--contact {
    height: 45.3rem;
  }
}

.l-main {
  width: 100%;
  height: 100%;
}

.l-footer {
  height: 8rem;
  background-color: #fff;
}

.l-footer small p {
  text-align: center;
  line-height: 8rem;
  font-size: 1.4rem;
  color: #282F35;
}

.p-hamburger-menu {
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  cursor: pointer;
}

@media (min-width: 1124px) {
  .p-hamburger-menu {
    display: none;
  }
}

.p-hamburger-menu__line {
  width: 3rem;
  height: .2rem;
  background-color: #fff;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p-hamburger-menu__line:nth-of-type(1) {
  top: 1rem;
}

.p-hamburger-menu__line:nth-of-type(2) {
  top: 1.8rem;
}

.p-hamburger-menu__line:nth-of-type(3) {
  top: 2.6rem;
}

.p-hamburger-menu__line.is-open {
  z-index: 10;
}

.p-hamburger-menu__line.is-open:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 1.8rem;
}

.p-hamburger-menu__line.is-open:nth-of-type(2) {
  width: 0;
}

.p-hamburger-menu__line.is-open:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 1.8rem;
}

.p-global-menu {
  position: absolute;
  left: 100%;
}

@media (min-width: 1124px) {
  .p-global-menu {
    width: 100%;
    position: inherit;
  }
}

.p-global-menu ul {
  text-align: center;
}

@media (min-width: 1124px) {
  .p-global-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-global-menu ul li {
  padding-bottom: 3rem;
}

@media (min-width: 1124px) {
  .p-global-menu ul li {
    padding-bottom: 0;
    padding-left: 3rem;
  }
}

.p-global-menu ul li a {
  color: #fff;
  font-size: 1.6rem;
}

@media (min-width: 1124px) {
  .p-global-menu ul li a {
    font-style: italic;
  }
}

.p-global-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #282F35;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.p-contents {
  width: 100%;
}

.p-contents > * h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-style: italic;
  font-size: 3rem;
  letter-spacing: .2rem;
}

@media (min-width: 1124px) {
  .p-contents > * h3 {
    font-size: 6rem;
  }
}

.p-contents > * h3 > span {
  margin-top: 1.5rem;
  margin-left: 3rem;
  display: block;
  width: 9rem;
  height: .3rem;
}

@media (min-width: 1124px) {
  .p-contents > * h3 > span {
    margin-top: 3rem;
    width: 20rem;
  }
}

.p-contents__concept {
  padding: 10rem 1.5rem 4rem;
}

@media (min-width: 1124px) {
  .p-contents__concept {
    padding: 10rem 12rem 7rem 21rem;
  }
}

.p-contents__concept h3 {
  color: #282F35;
  padding-bottom: 5.5rem;
}

@media (min-width: 1124px) {
  .p-contents__concept h3 {
    padding-bottom: 7rem;
  }
}

.p-contents__concept h3 > span {
  background-color: #282F35;
  top: 1.5rem;
  left: 18.7rem;
}

.p-contents__concept > p {
  color: #171717;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
}

@media (min-width: 1124px) {
  .p-contents__concept > p {
    padding-bottom: 6rem;
  }
}

.p-contents__concept > p > br {
  display: none;
}

@media (min-width: 1124px) {
  .p-contents__concept > p > br {
    display: block;
  }
}

@media (min-width: 1124px) {
  .p-contents__concept__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-contents__concept__flex p {
  font-size: 1.6rem;
  padding-top: 3.4rem;
  padding-bottom: 3rem;
  font-family: 'Noto Serif JP';
  line-height: 1.9;
}

@media (min-width: 1124px) {
  .p-contents__concept__flex p {
    padding: 4.7rem 12rem 4.7rem 0;
  }
}

.p-contents__concept__flex img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1124px) {
  .p-contents__concept__flex img {
    padding-right: 10rem;
  }
}

.p-contents__works, .p-contents__contact {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.p-contents__works h3, .p-contents__contact h3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10rem 1.5rem 5rem 0;
  color: #fff;
}

@media (min-width: 1124px) {
  .p-contents__works h3, .p-contents__contact h3 {
    padding: 10.5rem 12rem 8rem 0;
  }
}

.p-contents__works h3 > span, .p-contents__contact h3 > span {
  background-color: #fff;
}

.p-contents__works button a, .p-contents__contact button a {
  font-size: 1.6rem;
  padding: 1.9rem 7.1rem;
}

.p-contents__works {
  background-image: url(../img/works-bgi@2x.jpg);
}

.p-contents__service {
  padding-top: 10rem;
}

.p-contents__service h3 {
  padding-left: 1.5rem;
  padding-bottom: 8rem;
  color: #282F35;
}

@media (min-width: 1124px) {
  .p-contents__service h3 {
    padding-left: 22rem;
  }
}

.p-contents__service h3 > span {
  background-color: #282F35;
}

.p-contents__contact {
  margin-top: 6.4rem;
  background-image: url(../img/contact-bgi@2x.jpg);
}

.p-contents__contact p {
  padding: 3rem 0;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

@media (min-width: 1124px) {
  .p-wrap__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 22rem 8rem;
  }
}

@media (min-width: 1124px) {
  .p-wrap__card--w100pc {
    padding: 0;
  }
}

.p-wrap__card__single--works {
  padding: 0 2.8rem 3rem;
}

@media (min-width: 1124px) {
  .p-wrap__card__single--works {
    padding: 0;
  }
}

@media (min-width: 1124px) {
  .p-wrap__card__single--works:nth-of-type(1), .p-wrap__card__single--works:nth-of-type(2) {
    padding-right: 1rem;
  }
}

.p-wrap__card__single--works img {
  width: 100%;
}

.p-wrap__card__single--works > p {
  width: 100%;
  height: auto;
  padding: 2.5rem 2rem;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.9;
}

.p-wrap__card__single--service {
  width: 100%;
  padding-bottom: 3rem;
  position: relative;
}

@media (min-width: 1124px) {
  .p-wrap__card__single--service {
    padding: 0;
  }
}

@media (min-width: 1124px) {
  .p-wrap__card__single--service:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(23, 23, 23, 0.3);
  }
}

.p-wrap__card__single--service img {
  cursor: pointer;
  width: 100%;
}

.p-wrap__card__single--service p {
  font-style: italic;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 2.6rem;
  letter-spacing: .2rem;
}

.p-wrap__foot {
  display: block;
  font-size: 5rem;
  letter-spacing: .2rem;
}

@media (min-width: 1124px) {
  .p-wrap__foot {
    font-size: 9rem;
    padding-top: 7rem;
  }
}

.p-wrap__foot--concept, .p-wrap__foot--service {
  text-align: right;
  color: #171717;
  opacity: 5%;
  padding-top: 4rem;
}

.p-wrap__foot--works, .p-wrap__foot--contact {
  color: rgba(255, 255, 255, 0.1);
  padding: 4rem 0 4rem 1.5rem;
}

@media (min-width: 1124px) {
  .p-wrap__foot--works, .p-wrap__foot--contact {
    padding: 7rem 12rem;
  }
}

.p-wrap__foot--service {
  padding-top: 1rem;
  padding-right: 1.5rem;
}

@media (min-width: 1124px) {
  .p-wrap__foot--service {
    padding: 7rem 12rem;
  }
}

@media (min-width: 1124px) {
  .p-wrap__foot--contactpage {
    padding: 1.5rem 0 0 4.8rem;
  }
}

.p-contact-form {
  width: 100%;
  height: auto;
  padding: 10rem 1.5rem 8rem;
}

@media (min-width: 1124px) {
  .p-contact-form {
    padding: 10rem 37rem 8rem;
  }
}

.p-contact-form > p {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}

.p-contact-form__select {
  padding-bottom: 2.5rem;
}

.p-contact-form__select label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
}

@media (min-width: 1124px) {
  .p-contact-form__select label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: .7rem 2rem 0 0;
  }
}

.p-contact-form__select label input {
  font-size: 1.6rem;
  margin-top: .3rem;
  margin-right: .7rem;
}

.p-contact-form__select label > p {
  font-size: 1.6rem;
}

.p-contact-form__input label {
  display: block;
  font-size: 1.6rem;
}

.p-contact-form__input input, .p-contact-form__input textarea {
  width: 100%;
  border: solid .1rem;
  margin: .5rem 0 2.5rem;
  font-size: 1.8rem;
}

.p-contact-form__input textarea {
  height: 17rem;
}

.p-contact-form button {
  margin: 6.5rem 0 8rem;
}

.p-contact-form button input {
  padding: 2rem 9rem;
  font-size: 1.6rem;
  letter-spacing: .2rem;
}

.c-button {
  width: 100%;
  height: auto;
  text-align: center;
}

.c-button--yellow {
  background-color: #F7D43F;
  border-radius: 3rem;
}

.c-button--yellow a {
  display: block;
}
/*# sourceMappingURL=style.css.map */